.cc-annotation-history-exposed-form {
	border: 1px solid #ccc; 
	padding: 15px;
	margin-bottom: 15px; 
	position: relative;
}

.form-item-cc-records-filter {
	float: left;
} 

.form-item-cc-date-begin-filter {
	float: left;
} 

#edit-cc-records-number-filter {
	margin-left: 1em;
} 

.cc-annotation-history-clear {
	clear: both;
}

.cc-annotation-history-tgrpspe {
	width: 45%;
}

.transaction-type-insert {
	font-weight: bold;
	color: #8BC34A;
}

.transaction-type-update {
	font-weight: bold;
	color: #FF9800;
}

.transaction-type-delete {
	font-weight: bold;
	color: #F44336;
}