table { 
	counter-reset: line-number; 
}

td:first-child:before {
	counter-increment: line-number;
	content: counter(line-number) ".";
	padding-right: 0.5em; 
	color: #8F908A;
	text-align: left;
}

div.ctools-modal-content .form-item label {
	float: none;
}

div.ctools-modal-content .resizable-textarea {
	margin: 0px;
}

fieldset {
	padding-top: 1.5em !important; 
}