.tripal_access_restriction_protection_sets_form {
	width: 800px;
}

.tripal_access_restriction_protection_sets_exposed_form {
	border: 1px solid #ccc; 
	padding: 15px;
	margin-bottom: 15px; 
	position: relative;
}

.tripal_access_restriction_chado_tables_col {
	width: 40%;
}

.tripal_access_restriction_admin_row.even {
	background-color: #fe7 !important;
}

.tripal_access_restriction_admin_row.odd {
	background-color: #ffb !important;
}

.tripal_access_restriction_from_group_same {
	color: #2196F3;
}

.tripal_access_restriction_from_group_higher {
	color: #8BC34A;
	font-weight: bold;
}

.tripal_access_restriction_from_group_lower {
	color: #F44336;
	text-decoration: line-through;
}